/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lugrasimo&family=Satisfy&family=Sedan:ital@0;1&family=Sedgwick+Ave+Display&display=swap');

/* override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}

/* ##### HEADER ##### */
header {
    background-color: gold;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type:none
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

/* NAV BAR DROPDOWN MENU */
nav {
    position: absolute;
    background-color: gold;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    color: black;
}

.logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2px;
    left: 0;
}

header a {
    text-decoration: none;
}

/* ##### MAIN CONTENT ##### */

main {
    flex: 1 0 auto;
    padding-top: 100px;
    width: 100%;
    background: url("../images/woodfloor.jpg");
}

.nations {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 70%;
    width: 85%;
    padding-top: 30px;
}
#homepagesec div{
    padding-bottom: 40px;
}

/* ##### TEAMS.HTML PAGE ##### */
.flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 60px;
    margin-bottom: 20px;
}

#ajecks h3 {
    text-align: center;
    font-family: lugrasimo, sans-serif;
}
#ajecks ul {
    text-align: center;
}
#ajecks div {
    margin-bottom: 80px;
}

#homepagesec p {
    margin-top: 20px;
    padding: 0 10px;
    text-align: justify;
}
.bracket {
    text-align: center;
    color: black;
}
.secondnews {
    background: white;
    margin: 0 80px;
}

.firstnews {
    background: white;
    margin: 30px 80px;
}

/* ##### CHAMPIONS.HTML PAGE ##### */

#teamchamps {
    text-align: center;
    font-family: lugrasimo, sans-serif;
}
#teamchamps h2, h3{
    color: blue;
}
#teamchamps div {
    padding-bottom: 70px;
}

.champs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    max-width: 350px;
}

/* ##### FOOTER ##### */
footer {
    background-color: gold;
}

#socialmedia {
    display: flex;
    text-align: center;
    padding: 20px 0;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialmedia i {
    font-size: 200%;
    color: blue;
}

/* MEDIA QUERY: TABLET AND LARGER SCREENS (768PX AND ABOVE) */
@media screen and (min-width: 768px) {
    
    /* ##### HEADER ##### */
    
    header {
        align-items: baseline;
        padding-top: 12px;
        height: 101px;
    }
    
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        justify-content: end;
        top: 40px;
        
    }
    
    #menu {
        display: flex;
        
    }

    #menu > li {
        padding-left: 1rem;
        
    }
    
    .nav-toggle-label {
        display: none;
    }
    
    .logo {
        height: 98px;
        width: 98px;
    }
    
    /* ##### MAIN CONTENT ##### */
    main {
        margin-top: 102px;
    }

    .nations {
        height: 70%;
        width: 85%;
    }
    #homepagesec p {
        padding: 0 108px;
    }
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid black;
    }

     /* ##### MAIN CONTENT ##### */
     main {
        margin-top: 102px;
    }

    .nations {
        height: 70%;
        width: 85%;
    }
    #homepagesec p {
        padding: 0 108px;
    }
    
    .secondnews {
        background: white;
        margin: 0 300px;
    }
    
    .firstnews {
        background: white;
        margin: 30px 300px;
    }
}

    /* ##### TEAM PAGE ##### */

    #ajecks {
        display: ruby;
        padding-top: 50px;

    }
    #ajecks li {
        list-style-type: none;
    }

    /* ##### CHAMPIONS PAGE ##### */
    #teamchamps {
        display: ruby;
    }
    


